<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定资源路径-->
<mapper namespace="com.wf.Dao.OpectionUserMassageDao">

    <!--查询指定用户是否存在-->
    <select id="selectUser" parameterType="User" resultMap="UserMap">
        SELECT
                id,
                loginAct,
                NAME,
                loginPwd,
                email,
                expireTime,
                lockState,
                deptno,
                allowIps,
                createTime,
                createBy,
                editTime,
                editBy
        FROM
	            tbl_user
        WHERE
	            loginAct LIKE #{loginAct}
	    AND loginPwd LIKE #{loginPwd}
    </select>


    <!--多对一嵌套查询，当前用户对应的部门-->
    <resultMap id="UserMap" type="User">
        <result property="id" column="id"/>
        <result property="loginAct" column="loginAct"/>
        <result property="name" column="NAME"/>
        <result property="loginPwd" column="loginPwd"/>
        <result property="email" column="email"/>
        <result property="expireTime" column="expireTime"/>
        <result property="lockState" column="lockState"/>
        <result property="allowIps" column="allowIps"/>
        <result property="createTime" column="createTime"/>
        <result property="createBy" column="createBy"/>
        <result property="editTime" column="editTime"/>
        <result property="editBy" column="editBy"/>
        <association property="dept" column="deptno" javaType="Dept" select="getDept"/>
    </resultMap>
    <!--子查询部门表-->
    <select id="getDept" resultType="Dept">
        select
            id,
            deptNo,
            deptName,
            deptfunctionary,
            deptphone,
            deptremark
        from
            tbl_dept
        where
            deptNo=#{deptno}
    </select>


    <!--修改指定用户信息-->
    <update id="updatePas" parameterType="User">
        UPDATE
            tbl_user
       <trim prefix="set" suffixOverrides=",">
           <if test="loginAct!=null and loginAct!='' ">loginAct=#{loginAct},</if>
           <if test="name!=null and name!='' ">name=#{name},</if>
           <if test="loginPwd!=null and loginPwd!='' ">loginPwd=#{loginPwd},</if>
           <if test="email!=null and email!='' ">email=#{email},</if>
           <if test="expireTime!=null and expireTime!='' ">expireTime=#{expireTime},</if>
           <if test="lockState!=null and lockState!='' ">lockState=#{lockState},</if>
           <if test="allowIps!=null and allowIps!='' ">allowIps=#{allowIps},</if>
           <if test="createTime!=null and createTime!='' ">createTime=#{createTime},</if>
           <if test="createBy!=null and createBy!='' ">createBy=#{createBy},</if>
           <if test="editTime!=null and editTime!='' ">editTime=#{editTime},</if>
           <if test="editBy!=null and editBy!='' ">editBy=#{editBy},</if>
           <if test="deptno!=null and deptno!='' ">deptno=#{deptno},</if>
       </trim>
        WHERE
	    id = #{id}
    </update>



    <!--查询所有部门名称-->
    <select id="selectDeptName" resultType="map" parameterType="Dept">
        SELECT
                deptNo,
	            deptName
        FROM
	            tbl_dept
	    <where>
            <if test="deptName!=null and deptName!='' ">
                and deptName like '%' #{deptName} '%'
            </if>
        </where>
    </select>

    <!--添加一个新的用户-->
    <insert id="addUser" parameterType="User">
        INSERT INTO
                tbl_user
        VALUES
	        (
                   #{id},
                   #{loginAct},
                   #{name},
                   #{loginPwd},
                   #{email},
                   #{expireTime},
                   #{lockState},
                   #{deptno},
                   #{allowIps},
                   #{createTime},
                   #{createBy},
                   #{editTime},
                   #{editBy}
	        )
    </insert>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM
	            tbl_user
        WHERE
	            id IN
	    <foreach collection="array" item="id" open="("   close=")" separator=",">
            #{id}
        </foreach>

    </delete>

    <select id="conditionQuery" resultType="User" resultMap="UserMap">
        SELECT
            id,
            loginAct,
            name,
            loginPwd,
            email,
            expireTime,
            lockState,
            deptno,
            allowIps,
            createTime,
            createBy,
            editTime,
            editBy
        FROM
        tbl_user
        <where>
            <if test="userName!=null and userName!=''">
                and NAME LIKE '%' #{userName} '%'
            </if>
            <if test="deptName!=null and deptName!=''">
                AND deptno IN ( SELECT deptNo FROM tbl_dept WHERE deptName LIKE '%' #{deptName} '%')
            </if>
            <if test="lockState!=null and lockState!=''">
                AND lockState = #{lockState}
            </if>
            <if test="startTime!=null and startTime!=''">
                AND STR_TO_DATE( expireTime, &apos; %Y-%m-%d %H:%i:%s &apos; )
                    &gt;
                    STR_TO_DATE( #{startTime},&apos; %Y-%m-%d %H:%i:%s &apos; )
            </if>
            <if test="endTime!=null and endTime!=''">
                AND STR_TO_DATE( expireTime, &apos; %Y-%m-%d %H:%i:%s &apos; )
                    &lt;
                    STR_TO_DATE( #{endTime},&apos; %Y-%m-%d %H:%i:%s &apos;)
            </if>
        </where>
        order by STR_TO_DATE( createTime, &apos; %Y-%m-%d %H:%i:%s &apos; ) desc

    </select>
</mapper>